Package: com.yourcompany.blocksystemupdatetweak
Name: BlockSystemUpdateTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: zx
Author: zx
Section: Tweaks
